<div class="collection-card-container">
  @for (card of cards(); track card.id) {
  <div class="collection-card">
    <div class="collection-card-name">
      {{ card.name }}
    </div>
    <img class="collection-card-set" [src]="card.set_uri" [alt]="card.set" />

    <img
      class="collection-card-image"
      [src]="card.image_uri"
      [alt]="card.set"
      [title]="card.set"
    />

    @if(card.price) {
    <div>({{ card.price }}€)</div>
    }

    <div class="collection-card-actions">
      <button mat-icon-button (click)="openDialog(card)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteCard(card)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  }
</div>
