<div class="collection-card-container">
  @for (card of cards(); track card.id) {
  <div class="collection-card">
    <div class="collection-card-name">
      {{ card.name }}
      <img class="collection-card-set" [src]="card.set_uri" [alt]="card.set" />
    </div>

    <img
      class="collection-card-image"
      [src]="card.image_uri"
      [alt]="card.set"
      [title]="card.set"
    />

    @if(card.price) {
    <div class="collection-card-name">({{ card.price }}€)</div>
    }

    <div class="collection-card-actions">
      <button mat-button (click)="openDialog(card)">Modify set</button>
      <button mat-button (click)="deleteCard(card)">Delete</button>
    </div>
  </div>
  }
</div>
