<div class="app-container">
  <mat-drawer-container class="app-drawer-container">
    <mat-drawer
      #drawer
      class="app-drawer-sidenav"
      mode="side"
      [opened]="!isSmallScreen()"
    >
      <mat-list role="list">
        <h2 matSubheader>My Collection</h2>
        <mat-list-item
          class="app-nav-item"
          role="listitem"
          [class.app-a-selected]="isWantlistsTab()"
          (click)="navigateWantlists()"
          >Wantlists</mat-list-item
        >
        <mat-list-item
          class="app-nav-item"
          role="listitem"
          [class.app-a-selected]="isDoublesTab()"
          (click)="navigateDoubles()"
          >Doubles</mat-list-item
        >
        <h2 matSubheader>Trade</h2>
        <mat-list-item
          class="app-nav-item"
          role="listitem"
          [class.app-a-selected]="isTradeTab()"
          (click)="navigateTrade()"
          >Trade</mat-list-item
        >
      </mat-list>
    </mat-drawer>

    <mat-drawer-content class="app-drawer-content">
      <div class="app-nav-bar">
        @if (isSmallScreen()) {
        <button mat-icon-button type="button" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        }
        <div class="app-title">{{ title }}</div>
      </div>

      <div class="app-body">
        <router-outlet />
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  <div class="app-footer">
    <div>Created by JasLieb - 2024</div>
  </div>
</div>
