<div class="app-container">
  <mat-drawer-container class="app-drawer-container">
    <mat-drawer
      #drawer
      class="app-drawer-sidenav"
      mode="side"
      [opened]="!isSmallScreen() && isConnected()"
    >
      <app-navigation-bar></app-navigation-bar>
    </mat-drawer>

    <mat-drawer-content class="app-drawer-content">
      <div class="app-nav-bar">
        @if (isSmallScreen()) {
        <button mat-icon-button type="button" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        }
        <h1 class="app-title">{{ title }}</h1>
      </div>

      <div class="app-body">
        <router-outlet />
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  <div class="app-footer">
    <div>
      Created by
      <a
        class="app-footer-link"
        href="https://jaslieb.github.io/"
        target="_blank"
        >JasLieb</a
      >, 2024 -
      {{ today | date : "yyyy" }}
    </div>
  </div>
</div>
