<div class="navigation-bar-container">
  <mat-list role="list">
    <h2 matSubheader>My Collection</h2>
    <mat-list-item
      class="navigation-bar-item"
      role="listitem"
      [class.navigation-bar-item-selected]="isWantlistsTab()"
      (click)="navigateWantlists()"
      >Wantlists</mat-list-item
    >
    <mat-list-item
      class="navigation-bar-item"
      role="listitem"
      [class.navigation-bar-item-selected]="isDoublesTab()"
      (click)="navigateDoubles()"
      >Doubles</mat-list-item
    >
    <h2 matSubheader>Trade</h2>
    <mat-list-item
      class="navigation-bar-item"
      role="listitem"
      [class.navigation-bar-item-selected]="isTradeTab()"
      (click)="navigateTrade()"
      >Trade</mat-list-item
    >
    <mat-list-item
      class="navigation-bar-item"
      role="listitem"
      [class.navigation-bar-item-selected]="isChatTab()"
      (click)="navigateChat()"
      >Chat</mat-list-item
    >
  </mat-list>

  <button mat-button (click)="disconnectUser()">Logout</button>
</div>
