<form [formGroup]="form" class="register-container">
  <mat-form-field>
  <input
      matInput
      name="email"
      placeholder="email"
      formControlName="email"
      required
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      name="password"
      placeholder="password"
      formControlName="password"
      type="password"
      required
    />
  </mat-form-field>
  <button
    mat-button
    class="button button-primary"
    (click)="register()"
    [disabled]="isLoading()"
    [hidden]="isLoading()"
  >
    Register
  </button>
  <app-loader [isVisible]="isLoading()"></app-loader>
</form>
