<form class="example-form">
  <mat-form-field class="example-full-width">
    <input
      matInput
      type="text"
      [formControl]="searchControl"
      placeholder="Exotic Orchard"
      [matAutocomplete]="auto"
      class="example-input"
    />
    <mat-autocomplete #auto="matAutocomplete">
      @for (card of results(); track card.id) {
      <mat-option (click)="onCardClicked(card)">{{ card.name }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <button mat-button (click)="onAddCard()">Add to wantlist</button>
</form>
