.chat-home-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
}

.chat-home-conversation-list-preview {
  width: 10%;
  padding: 0% 1%;
  margin: 1% 0%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.chat-home-conversation-tab {
  width: 100%;
  display: flex;
  justify-content: center;
}

.chat-home-conversation-tab-selected {
  border: 1px solid grey;
}

.chat-home-conversation-card {
  width: 100%;
  display: flex;
  margin: 1%;
}

.chat-home-conversation-messages {
  overflow-y: scroll;
}

.chat-home-conversation-actions {
  flex: 0 0 15%;
  display: flex;
  align-items: end;
  justify-content: space-around;
}

.chat-home-conversation-input {
  flex: 0 0 90%;
}
