<div class="chat-home-container">
  <div class="chat-home-conversation-list-preview">
    @for (chat of chats(); track $index) {
    <div
      class="chat-home-conversation-tab"
      [class.chat-home-conversation-tab-selected]="
        selectedChat()?.recipient?.id == chat.recipient.id
      "
      (click)="selectChat(chat.recipient.id)"
    >
      {{ chat.recipient.name }}
    </div>
    }
  </div>
  @if (!!selectedChat()) {
  <app-chat-user class="chat-home-chat" [chat]="selectedChat()"></app-chat-user>
  }
</div>
